[submodule "shell/liquidprompt"]
	path = shell/liquidprompt
	url = git@github.com:nojhan/liquidprompt.git
[submodule "vim/neobundle.vim"]
	path = vim/neobundle.vim
	url = git@github.com:Shougo/neobundle.vim.git
