[submodule "vim/neobundle.vim"]
	path = vim/neobundle.vim
	url = git@github.com:Shougo/neobundle.vim.git
[submodule "shell/oh-my-zsh.custom/themes/powerlevel9k"]
	path = shell/oh-my-zsh.custom/themes/powerlevel9k
	url = https://github.com/bhilburn/powerlevel9k.git
